.heroSection {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 3, 23, 0.52),
      rgba(0, 3, 23, 0.52)
    ),
    url("../../../static/hero-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: max(150px, 12.5%) max(75px, 7.5%); // position: absolute;
  display: block;
  text-align: center;

  .title {
    color: #fff;
    font-size: max(5em, 5vw);
  }

  .quote {
    font-size: max(20px, 1.25vw);
    color: #fff;
  }
}

