.mobileNav {
  display: none;
  position: absolute;
  width: 80%;
  min-width: 280px;
  height: 100%;
  background-color: #343a40;
  padding: max(0.75em, 0.75vw) max(1.25em, 1.25vw);
  z-index: 2200;
  overflow: hidden !important;

  h1 {
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
  }

  .list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid white;

    li {
      width: fit-content;
      font-size: 1em;
      padding: 1em;
      display: block;

      a {
        color: #fff;
        padding: 14px 16px;

        &:hover {
          background-color: #6c757d;
          color: #f2c014;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mobileNav {
    display: block;
  }
}
