.nav {
  background-color: #343a40;
  color: #fff;
  padding: max(0.75em, 0.75vw) max(1.25em, 1.25vw);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;

  h1 {
    width: 25%;
    font-size: max(2em, 2vw);
  }

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 80%;
    display: flex;
    gap: max(1em, 1vw);
    justify-content: flex-end;

    li {
      list-style: none;
      width: fit-content;
      font-size: max(1.0em, 1.0vw);

      a {
        display: block;
        padding: max(14px, 0.875vw) max(16px, 1vw);
        transition: all 0.5s;

        &:hover {
          background-color: #f2c014;
          color: #343a40;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
