.bottomHero {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 85%;
  margin: 0 auto;
  background-color: #2d374d;
  padding: 3% 7%;
  gap: 2em;
  color: white;
  text-align: center;
  margin-top: -3%;
  box-shadow: 2px -2px 10px rgba(255, 255, 255, 0.2);

  .box {
    h1 {
      font-size: max(3.5em, 3.5vw);
    }

    h3 {
      color: #f2c014;
      font-size: max(1.2em, 1.2vw);
      margin-bottom: max(0.2em, 0.2vw);
    }

    p {
      font-size: max(1em, 1vw);
    }
  }
}

@media screen and (max-width: 1024px) {
  .bottomHero {
    display: block;

    .box {
      margin: 3em;
      padding: 8px;
      border-bottom: 1px solid #fff;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .bottomHero {
    width: 100%;

    .box {
      h1 {
        font-size: 2em;
      }
    }
  }
}
